.container {
  display: inline-block;
  position: relative;
}

.dropdown {
  border-radius: 100px;
  border: 1px solid var(--weak);
  padding: 5px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.chevron {
  padding-left: 10px;
}

.list {
  margin-top: 10px;
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  background: white;
  position: absolute;
  width: 100%;
  z-index: 1000;

  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08),
    0px 9px 28px 8px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.listItem {
  padding: 5px 24px;
  cursor: pointer;
  text-align: left;
  font-family: Futura;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray900);
}

.selected {
  background: rgba(67, 136, 221, 0.08);
}

.itemClosed {
  padding: 5px 0;
  font-size: 14px;
  line-height: 14px;
  font-family: Assistant;
}
