.bridgeOutter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bridge {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 40px 0;
  max-width: 582px;
  width: 582px;
  gap: 10px;

  &Tabs {
    :global {
      .ant-tabs-nav::before {
        display: none;
      }

      .ant-tabs-tab-btn {
        font-family: var(--sq-font-family);
        font-size: 16px;
        color: var(--sq-gray500);
      }

      .ant-tabs-tab.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          color: var(--sq-gray900);
        }
      }

      .ant-tabs-ink-bar {
        background: linear-gradient(96.26deg, #4388dd 13.8%, #ff4581 82.83%);
      }
    }
  }

  &Content {
    border: 1px solid #dfe3e899;
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .smallCard {
      border-radius: 8px;
      border: 1px solid var(--sq-gray300);
      width: 360px;

      .top {
        background: var(--sq-gray200);
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        img {
          width: 30px;
          height: 30px;
          object-fit: contain;
        }
      }
      .bottom {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .input {
      text-align: center;
      border: none;
      width: 100%;
      box-shadow: none;

      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }

      &:focus-visible {
        outline: none;
      }

      :global {
        .ant-input-number-input {
          text-align: center;
          border: none;
          &-wrap {
            &:focus {
              border: none;
              outline: none;
              box-shadow: none;
            }
  
            &:focus-visible {
              outline: none;
            }
          }
        }
      }
    }
  }
}

.confirmModal {
  :global {
    .ant-modal-confirm-title {
      font-family: var(--sq-font-family);
    }
  }
}
