.btn {
  margin-right: 1rem;
  background: var(--gradient-to);
}

.select {
  margin-bottom: 1rem;
}

.option {
  padding-top: 0.5rem;
}

.description {
  color: var(--gray700);
  margin: 1rem 0;
}

.divider {
  margin: 1rem 0;
}
