.grayText {
  color: var(--gray500);
}

.container {
  display: flex;
  background-color: var(--gray200);
  width: 100%;
  min-height: 100%;
}

.sidebar {
  width: 25%;
}

.content {
  width: 100%;
  padding: 1rem 2rem;
  overflow: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 16px;
}

.profile {
  background: white;
  padding: 2rem;
  justify-content: space-between;
  border-radius: 6px;
  display: flex;
  margin: 2rem 0 1rem 0;
}

.indexing {
  background: white;
  padding: 2rem 1rem;
}
