.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create {
  height: 40px;
}

.url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addressCont {
  display: flex;
  max-width: 300px;
}

.copy {
  margin-left: 6px;
  flex-shrink: 0;
}
