.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.submit {
  width: 95%;
  margin-top: 24px;
}

.error {
  color: var(--sq-error);
  padding-top: 8px;
}
