.form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 80px 0 80px;
}

.deployment {
  font-family: Futura;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray900);
  margin-top: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 64px 80px 40px 80px;
}

.name {
  font-family: Futura;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;

  color: var(--gray900);
  padding-left: 22px;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 845px;
  flex: 1;
}

.successModal {
  :global {
    .ant-modal-confirm-body {
      flex-direction: column;
    }

    .ant-modal-confirm-paragraph.ant-modal-confirm-paragraph {
      max-width: 100%;
    }

    .ant-result {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 24px;
      .anticon-check-circle {
        font-size: 50px;
      }

      &-icon {
        margin-bottom: 0;
      }
      
      &-title {
        margin: 0;
        font-size: 20px;
        line-height: 30px;
        font-family: var(--sq-font-family);
      }

      &-subtitle {
        font-size: 16px;
      }

      &-extra {
        margin-top: 0;
      }
    }
  }
}

.plainCard {
  border-radius: 8px;
  border: 1px solid rgba(223, 227, 232, .6);
  padding: 24px;
  text-align: left;
  display: flex;
  gap: 8px;
  align-items: center;
}

.markdownWrapper {
  :global {
    .subql-markdown-preview {
      height: 440px;
      overflow: auto;
    }
  }
}
