{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "header", "simple-import-sort"],
  "extends": ["react-app", "plugin:@typescript-eslint/recommended", "plugin:react-hooks/recommended", "prettier"],
  "rules": {
    "react-hooks/exhaustive-deps": "off",
    "header/header": [
      2,
      "line",
      [
        {
          "pattern": " Copyright \\d{4}(-\\d{4})? SubQuery Pte Ltd authors & contributors",
          "template": " Copyright 2020-2022 SubQuery Pte Ltd authors & contributors"
        },
        " SPDX-License-Identifier: Apache-2.0"
      ],
      2
    ],
    "@typescript-eslint/ban-types": "warn",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          // Packages. `react` related packages come first.
          ["^react", "^@?\\w"],
          // Internal packages.
          [
            "^(src|containers|components|hooks|container|pages|stores|utils|i18n)(/.*|$)"
          ],
          // Other local imports. Put same-folder imports and `.` last.
          [
            "^\\.\\.(?!/?$)",
            "^\\.\\./?$",
            "^\\./(?=.*/)(?!/?$)",
            "^\\.(?!/?$)",
            "^\\./?$"
          ]
        ]
      }
    ]
  }
}
