.container {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 30px;

  :global .label {
    font-size: 26px;
  }
}

.line {
  display: flex;
  gap: 8px;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: normal;
  padding-top: 16px;

  :global .label {
    font-size: 16px;
  }
}

.description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: var(--gray900);
  padding-top: 10px;
  padding-bottom: 32px;
}

.linkContainer {
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  width: 100%;

  :global {
    .subql-typography-link {
      width: 100%;
      display: flex;
      .ant-space {
        width: 100%;
        &-item {
          width: 100%;

          .subql-typography {
            width: 100%;
          }
        }
      }
    }
  }
}

.link {
  padding-left: 6px;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */
  letter-spacing: 0.3px;
  color: var(--gray900);
}

.description{
  display: flex;
  flex-direction: column;
  flex: 5 1 0%;
  width: 500px;
}

.cardInfo{
  margin-left: 48px;
  flex: 7 1 0%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.titleExtra{
  display: flex;
  gap: 40px;
  width: 100%;
  align-items: center;
}

.currentBooster{
  flex: 1 1 0%;
  padding-left: 32px;
}

.boosterRewards {
  display: flex;
  gap: 8px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }  
  .description{
    display: flex;
    flex-direction: column;
    flex: 5 1 0%;
    width: 100%;
  }
  .cardInfo{
    margin-left: 0;
    flex: 7 1 0%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .titleExtra{
    display: flex;
    gap: 8px;
    width: 100%;
    flex-direction: column;
  }
  .currentBooster{
    flex: 1 1 0%;
    padding-left: 0;
  }
  .boosterRewards {
    flex-direction: column;
  }
}
