.container {
  display: flex;
  flex-direction: row;
  /*background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;*/
  padding-top: 50px;
  /*margin: 32px;*/
  /*flex-wrap: wrap;*/
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 30px;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: normal;
}
