.container {
  height: 75vh;
}

.content {
  background: white;
  padding: 2rem;
  overflow: scroll;
  min-height: 80%;
}

.offers {
  margin: 1rem 0;
}

.noDelegatorsContainer {
  margin: 10vh auto;
  width: 30vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.description {
  margin-top: 3vh;
}
