.button {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 12px;

  font-size: 16px;
  line-height: 24px;
  font-family: Futura;

  border-radius: 50px;
  border-width: 0;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

.button:hover {
  text-decoration: none;
}

.button i {
  font-size: 25px;
}

.primary {
  color: white;
  background: var(--sq-gradient);
  background-size: 200% 100%;
  background-position: 50% 0;
}

.primary:hover {
  background-position: 80% 0;
}

.secondary {
  position: relative;
}

.secondary :is(span, p) {
  background: var(--sq-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secondary i {
  background: var(--sq-gradient);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secondary:hover {
  background: var(--sq-background-gradient);
}

.secondary i:before {
  display: inline;
}

.secondary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  padding: 2px;
  background: var(--sq-gradient);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
