.btns {
  display: flex;
}

.button {
  margin-right: 1rem;
  background: var(--gradient-to);
}

.textBtn {
  background: white;
  color: var(--gradient-to);
  padding: 0.5rem 0;
}

.errTextBtn {
  background: white;
  color: var(--error);
  padding: 0.5rem 0;
}
