.btns {
  display: flex;
}

.button {
  margin-right: 1rem;
  background: var(--gradient-to);
}

.text {
  background: white;
  color: var(--gradient-to);
}

.errText {
  background: white;
  color: var(--error);
}
