.content {
  background: white;
  width: 70%;
  min-height: 420px;
  padding: 1rem;
}

.steps {
  margin: 1rem 0;
  overflow: scroll;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create {
  height: 40px;
}

.datePickerTitle {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--gray900);
}

.datePicker {
  width: 100%;
}

.cancelWarning {
  background: var(--sq-gray200);
  border-radius: 6px;
  padding: 1.6rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancelWarningText {
  margin: 0 1rem;
}
