.btns {
  margin-top: 2rem;
}

.btn {
  margin: 0 1rem;
}

.select {
  margin: 1rem 0;
}

.inputTitle {
  margin: 6px 0;
  color: var(--gray700);
}

.projectName {
  color: var(--gray700);
}

.projectDeploymentId {
  font-size: 12px;
  color: var(--gray500);
}

.deploymentOption {
  padding-top: 0.5rem;
}
