.container {
  width: 100%;
  background: var(--gray200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 50%;
  min-height: 50vh;
  background: white;
  border-radius: 8px;
  margin: 1rem 0;
  padding: 2rem;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataUpdateText {
  font-size: 16px;
  margin: 1rem;
}

.footer {
  position: relative;
  bottom: -2rem;
}
