.submitBtn {
  background: var(--gradient-to) !important;
  color: white !important;
  min-width: 30%;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
