.card {
  border: 1px solid var(--weak);
  border-radius: 8px;
  padding: 16px;
  width: 227px;
  height: 317px;
  cursor: pointer;

  box-sizing: border-box;
  box-shadow: 0px 10px 30px #f4f6f8;
}

.card:hover {
  background-color: var(--weak-opac);
}

.image {
  width: 100%;
  height: 193px;
  border-radius: 8px;
  background-color: white;
}

.details {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
}

.address {
  margin: auto;
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  padding-top: 8px;
}
