.dashboard {
  padding: 40px 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  
  &Main {
    margin-top: 40px;
    max-width: 1280px;
    min-width: 1280px;
    display: flex;
    flex-direction: column;

    &Top {
      display: flex; 
      justify-content: space-between;
    }

    &Bottom {
      display: flex;
      margin-top: 24px;
      &Left {
        display: flex;
        flex-direction: column;
        width: 953px;
        flex-shrink: 0;
        margin-right: 25px;
      }

      &Right {
        display: flex;
        flex-direction: column;

        .images {
          display: flex;
          margin-bottom: 12px;

          .image {
            flex-shrink: 0;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            margin-left: 0;
            transition: all .1s linear;

            & + .image {
              margin-left: -4px;
            }
            
            &:hover + .image {
              margin-left: 4px;
            }
          }
        }

        :global {
          .ant-progress-text {
            font-size: 12px;
            color: var(--sq-gray500);
            font-family: var(--sq-font-family);
          }
        }
      }
    }
  }

  .cardContentLine + .cardContentLine {
    margin-top: 12px;
  }
}