.content {
  background: white;
  width: 64%;
  min-height: 420px;
  padding: 1rem;
}

.steps {
  margin: 1rem 0;
  overflow: auto;
}

.stepButtons {
  margin: 2rem 0;
}

.back {
  display: flex;
  align-items: center;
}
