.container {
  display: flex;
  background-color: var(--gray-canvas);
  width: 100%;
}

.sidebar {
  min-width: 220px;
}

.mainContent {
  min-height: 90vh;
}

.content {
  width: 100%;
  padding: 0 2rem;
}
