.container {
  display: flex;
  background-color: white;
  width: 100%;
}

.sidebar {
  min-width: 220px;
}

.mainContent {
  min-height: 85%;
  display: flex;
  flex-direction: column;
}

.content {
  height: 100%;
  flex-grow: 1;
  padding: 0 2rem;
  overflow: scroll;
}

@media (max-width: 768px) {
  .container {
    display: block;
  }

  .sidebar {
    min-width: unset;
    display: none;
  }
}
