.container {
  display: flex;
  background-color: var(--gray-canvas);
  width: 100%;
}

.sidebar {
  min-width: 220px;
  padding-left: 10px;
}

.mainContent {
  min-height: 85%;
}

.content {
  height: 100%;
  flex-grow: 1;
  padding: 0 2rem;
  overflow: hidden;
}
