.rewardsContainer {
  width: 100%;
}

.rewardsList {
  margin: 8px 0;
}

.text {
  font-size: 14px;
}

.unClaimedText {
  color: var(--primary);
}

.header {
  margin-bottom: 8px;
  margin-top: 16px;
}

.claim {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
