.rewardsContainer {
  width: 100%;
}

.rewardsList {
  margin: 2rem 0;
}

.text {
  font-size: 14px;
}

.unClaimedText {
  color: var(--primary);
}

.header {
  margin-bottom: 2rem;
}

.claim {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
