.container {
  margin: 1rem 0;
}

.list {
  margin: 1rem 0;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
  line-height: 22px;
}

.label {
  color: var(--sq-gray600);
}

.strongLabel {
  color: var(--sq-gray900);
}

.value {
  margin-left: 8px;
}

.indexer {
  margin-left: 8px;
}
