.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create {
  height: 40px;
}

.description {
  margin-top: 1vh;
}

.infoLink {
  margin-top: 2vh;
}

.noOffersContainer {
  margin: 10vh auto;
  height: 50vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* CancelOffer */
.btnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.cancelOfferSummary {
  margin: 2rem 0;
}

.myTab > div {
  background-color: #fff;
}
.myTab a {
  font-size: 18px;
  line-height: 28px;
  margin-right: 32px;
  padding-bottom: 1rem;
  text-decoration: none;
  color: var(--gray700);
  background: white;
  min-width: 6rem;
  margin: 0 0.6rem;
  text-align: center;
  width: 100%;
  border-image: var(--sq-gradient) 1;
}
.myTab .ant-space-align-center {
  display: block;
  width: 100%;
}
.myTab p {
  text-align: center;
  color: #919eab;
}
