.emptyListContainer {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.emptyListContent {
  width: 50%;
}

.description {
  margin: 1.5rem auto;
  flex-direction: column;
  row-gap: 1rem;
  width: 70%;
}

.infoLink {
  margin-top: 2vh;
}
.infoLink a {
  color: var(--primary);
}

.title {
  font-size: 24px;
  line-height: 36px;
}

.content {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
