.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.preContainer {
  padding-bottom: 24px;
  display: flex;
  gap: 0.5rem;
}

.search {
  color: var(--gray500);
  height: 10.5px;
  width: 10.5px;
}

.preTitle {
  text-transform: uppercase;
  color: var(--gray500);
}

.title {
  padding-bottom: 8px;
}
