.container {
  margin: 1rem 0;
}

.projectInfo {
  display: flex;
}

.ipfsImage {
  max-width: 60px;
}

.projectTextInfo {
  margin: 0 1rem;
}

.deployment {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  color: var(--gray500);
}
