.detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 10px 10px 10px 0px;
}

.value {
  text-decoration: none;
  color: var(--gray900);
  line-height: 24px;
  letter-spacing: 0.3px;
  font-weight: normal;
}

a:hover {
  text-decoration: underline;
}

.valueCont {
  display: flex;
  margin-top: 8px;
  align-items: center;
}

.copy {
  margin-left: 6px;
}
