.detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 10px 10px 10px 0px;
}

.value {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
