.indexer {
  display: flex;
  flex-direction: row;
}

.indexerText {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.address {
  text-transform: uppercase;
  color: var(--gray700);
}

.addressCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.copy {
  height: 16px;
  width: 16px;
  flex-shrink: 0;
  margin-left: 6px;
}

.copyIcon {
  font-size: 8px;
}

.progress {
  display: flex;
  align-items: center;
}

.progressBar {
  width: 100%;
  /* max-width: 315px; */
}

.behind {
  padding-left: 12px;
}

.tableHeader {
  display: none;
}

.btn {
  margin: 0 1rem;
}

.plansTable {
  margin-bottom: 1rem;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}
