.url {
  font-family: Assistant;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: var(--gray900);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.urlCont {
  display: flex;
  max-width: 300px;
}

.copy {
  margin-left: 6px;
  flex-shrink: 0;
}
