.container {
  background: var(--sq-background-gradient);
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  padding: 24px;
  background: white;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 26px;
  font-weight: 600;
}

.switchContainer {
  height: 100%;
  align-items: center;
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.description {
  font-size: 18px;
}
