.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  background: white;
  margin: 1rem 0;
  border-radius: 6px;
}

.subtitle2 {
  color: var(--gray700);
  text-align: center;
  width: 60%;
  margin: 1rem 0;
}

.connectWith {
  width: 100%;
  padding: 0 1rem;
  padding-bottom: 8px;
}

.walletContainer {
  border-radius: 8px !important;
}

.walletContainer::before {
  border-radius: 8px !important;
}

.walletContainer :is(p, i) {
  background: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

.wallet {
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  cursor: pointer;
}

.walletIcon {
  width: 60%;
  margin: 1rem 0;
  padding-right: 12px;
}

.walletSubtitle {
  color: var(--gray700);
}

.arrow {
  font-size: 30px;
  color: var(--gray900);
}
