.indexerProfile {
  min-width: 1440px;
  margin: 0 auto;
  padding: 40px 80px;

  .accountBaseInfo {
    border-radius: 8px;
    border: 1px solid  rgba(223, 227, 232, 0.60);
    background: #FFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
}