.grayText {
  color: var(--gray500);
}

.container {
  display: flex;
  background-color: var(--gray200);
  width: 100%;
  min-height: 100%;
}

.indexer {
  display: flex;
}

.address {
  display: flex;
  padding-left: 2em;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 25%;
}

.content {
  width: 100%;
  padding: 1rem 2rem;
  overflow: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 16px;
}

.profile {
  height: 148px;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  background: white;
  justify-content: space-between;
  align-items: center;
}

.stakingSummary {
  width: 65%;
  height: 100%;
  display: flex;
}

.tabList {
  display: flex;
  margin-top: 2rem;
  text-align: center;
}

.tab {
  background: white;
  min-width: 5rem;
  padding: 1rem 1rem 0 1rem;
  cursor: pointer;
}

.tabText {
  margin-bottom: 0.5rem;
}

.line {
  background: var(--sq-gradient);
  height: 2px;
}
