.tabList {
  display: flex;
  margin-top: 2rem;
  text-align: center;
}

.points {
  color: var(--primary);
}

.accountSearch {
  width: 430px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
