.container {
  height: 100%;
}

.content {
  background: white;
  padding: 2rem;
  overflow: auto;
  min-height: 80%;
}

.offers {
  margin: 1rem 0;
}

.noOffersContainer {
  margin: 15vh auto;
  width: 35vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.description {
  margin-top: 3vh;
}
