.container {
  margin: 1rem;
}

.status {
  display: flex;
  flex-direction: column;
}

.statusTitle {
  display: flex;
}

.statusDescription {
  margin: 1rem 0;
}

.successIcon {
  color: var(--success) !important;
}

.errorIcon {
  color: var(--error);
}

.statusText {
  margin: 0 1rem;
}
