.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  /*font-family: Assistant;*/

  /* identical to box height, or 150% */
  letter-spacing: 0.3px;
  color: #373f41;
  margin: 0;
}

.large {
  font-size: 16px;
  line-height: 24px;
  padding-left: 10px;
}

.small {
  font-size: 14px;
  line-height: 150%;
  padding-left: 7px;
}
