.container {
  background: white;
  padding: 1rem;
  overflow: scroll;
}

.title {
  margin: 1rem 0;
}

.actionBtns {
  display: flex;
}

.btn {
  background: var(--gradient-to) !important;
  color: white !important;
  margin: 1px;
}

.text {
  color: var(--gray500);
}
