.grayText {
  color: var(--gray500) !important;
}

.container {
  background: white;
  padding: 1rem 2rem;
}

.sidebar {
  width: 25%;
}

.content {
  width: 100%;
  padding: 1rem 2rem;
  overflow: scroll;
}

.profile {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.pointsSummary {
  flex: 1;
  padding: 1.2rem 3rem 1rem 1rem;
  background: white;
}

.stakingSummary {
  width: 65%;
  height: 100%;
  display: flex;
}

.tabList {
  display: flex;
  margin-top: 2rem;
  text-align: center;
}

.tab {
  background: white;
  min-width: 5rem;
  padding: 1rem 1rem 0 1rem;
  cursor: pointer;
}

.tabText {
  margin-bottom: 0.5rem;
  font-size: 18px;
}

.line {
  background: var(--sq-gradient);
  height: 2px;
}

.totalPoints {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid var(--gray300);
  padding: 1rem;
  border-radius: 6px;
  margin: 1rem 0;
}

.pointText {
  font-size: 18px;
}

.nonData {
  margin: 1rem 0;
  background: white;
  padding: 1rem;
}
