.grayText {
  color: var(--gray500);
}

.container {
  background: white;
  padding: 1rem;
  height: 20vh;
}

.sidebar {
  width: 25%;
}

.pointsSummary {
  flex: 1;
}

.content {
  width: 100%;
  padding: 1rem 2rem;
  overflow: scroll;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.header {
  font-size: 2.5em;
  font-weight: bold;
  color: #444f59;
}

.profile {
  height: 15vh;
  width: 30%;
  padding: 1.2rem 3rem 1rem 1rem;
  display: flex;
  background: white;
  justify-content: space-between;
  align-items: center;
}

.stakingSummary {
  width: 65%;
  height: 100%;
  display: flex;
}

.tabList {
  display: flex;
  margin-top: 2rem;
  text-align: center;
}

.tab {
  background: white;
  min-width: 5rem;
  padding: 1rem 1rem 0 1rem;
  cursor: pointer;
}

.tabText {
  margin-bottom: 0.5rem;
}

.line {
  background: var(--sq-gradient);
  height: 2px;
}
