.cardContainer {
  display: flex;
  width: 260px;
  min-width: 260px;
  min-height: 120px;
  background: white;
  border-radius: 4px;
}

.card {
  padding: 1rem 1.2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  color: var(--sq-gray500);
  line-height: 18px;
}

.title {
  margin-top: 1rem;
  color: var(--sq-gray500);
  font-weight: 600;
  line-height: 18px;
}

.titleWithCategory {
  margin-top: 0rem;
  color: var(--sq-gray900);
}

.value {
  font-weight: 600;
  color: var(--sq-gray700);
}

.grayText {
  color: var(--gray500);
}
.sCard {
  width: 100%;
  overflow: auto;
}
