.card {
  width: 100%;
  background: white;
  margin-left: 1rem;
  border-radius: 4px;
  padding: 1rem 1.2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  color: var(--sq-gray500);
  line-height: 18px;
}

.title {
  margin: 1rem 0 0 0.5rem;
  color: var(--sq-gray500);
  font-weight: 600;
  line-height: 18px;
}

.value {
  font-weight: 600;
  color: var(--sq-gray700);
  margin-left: 0.5rem;
}

.grayText {
  color: var(--gray500);
}
