.content {
  background: white;
  width: 70%;
  min-height: 420px;
  padding: 1rem;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create {
  height: 40px;
}
