.offerSummary {
  margin: 1rem 0;
}

.requirementCheckContainer {
  margin: 1rem 0;
}

.checkListTitle {
  margin-bottom: 6px;
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 500;
}

.requirementCheckItemContainer {
  margin-bottom: 1rem;
}

.requirementCheckItem {
  border: 1px solid var(--gray300);
  padding: 0.6rem;
  border-radius: 4px;
}

.requirementText {
  width: 25%;
}
