.container {
  height: 24px;
  width: 24px;
  margin: 0 6px;

  border-radius: 100px;
  background: rgba(67, 136, 221, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.content {
  width: 100%;
}

.copy {
  color: var(--primary);
}
