.tabContainer {
  display: flex;
}

.tab {
  font-size: 18px;
  line-height: 28px;
  margin-right: 32px;
  padding-bottom: 1rem;
  text-decoration: none;
  color: var(--gray900);
}

.tab:hover {
  text-decoration: none;
}

.tabSelected {
  border-bottom: 2px solid;
  border-image: var(--sq-gradient) 1;
}

.tabContainer {
  display: flex;
}

.whiteTab {
  background: white;
  min-width: 8rem;
  padding: 1rem;
  margin: 0;
  text-align: center;
}
