.header {
  width: 100%;
  display: flex;
  padding-left: 2rem;
  padding-right: 1rem;
  justify-content: space-between;
  box-shadow: inset 0px -1px 0px rgba(26, 32, 44, 0.06);
}

.headerHeight {
  height: 80px;
}

.justifyBetween {
  justify-content: space-between;
}

.flexCenter {
  display: flex;
  align-items: center;
}

.leftElement {
  margin-left: 2rem;
  position: relative;
}

.appDropdown {
  margin: 1rem;
}

.menuOverlay {
  padding: 1rem !important;
}

.dropMenu {
  width: 300px !important;
}

.navLink {
  text-decoration: none;
  margin: 0 1vw;
  display: flex;
  color: var(--gray700);
  width: fit-content;
}

.navLink:hover {
  text-decoration: underline;
  color: var(--sq-primary-blue);
}

/* .navLinkCurrent {
  font-weight: 500;
  color: var(--sq-info);
} */
