.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navLink {
  color: black;
  text-decoration: none;
  margin-left: 32px;
}

.navLink:hover {
  text-decoration: underline;
}

.navLinkCurrent {
  font-weight: 600;
}

.logo {
  height: 48px;
}

.dropdown {
  background: unset;
  padding: 12px;
}
