.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  background-color: white;
}

.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 1200px;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navLink {
  color: var(--gray900);
  text-decoration: none;
  margin-left: 24px;
  font-family: Futura;
  font-size: 16px;
  line-height: 24px;
}

.navLink:hover {
  text-decoration: underline;
}

.navLinkCurrent {
  font-weight: 500;
  color: var(--primary);
}

.logo {
  height: 48px;
}

.dropdown {
  border: unset !important;
  padding: 12px;
}

.hosted {
  padding-left: 25px;
}

.hostedBorder {
  border: unset;
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.hostedText {
  font-family: Futura;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray900);
}
