.input {
  margin: 1rem 0;
}

.inputTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* TODO: antD theme custom */
.inputNumber {
  width: 100% !important;
  border-radius: 4px !important;
}

.prefix {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unit {
  margin: 0 0.5rem;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.inputBottomText {
  display: block;
}

/* TODO: antD theme custom */
.submitBtn {
  background: var(--gradient-to) !important;
  color: white !important;
  min-width: 30%;
}

.submitBtn:disabled {
  background: var(--gray500) !important;
  color: var(--gray700);
}
