.input {
  margin: 1rem 0;
}

/* TODO: antD theme custom */
.inputNumber {
  width: 100% !important;
  border-radius: 4px !important;
}

.prefix {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* TODO: antD theme custom */
.unit {
  color: var(--gray500) !important;
  margin: 0 0.5rem;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.inputBottomText {
  color: var(--gray500);
}

.inputError {
  margin: 1rem 0;
  color: var(--error);
}

/* TODO: antD theme custom */
.submitBtn {
  background: var(--gradient-to) !important;
  color: white !important;
  min-width: 30%;
}

.submitBtn:disabled {
  background: var(--gray500) !important;
  color: var(--gray700);
}
