.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(227px, 1fr));
}

.card {
  padding-bottom: 24px;
}
