.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 270px [col-start]);
}

.card {
  padding-bottom: 24px;
}
