.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  transform: translateY(50%);
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(227px, 1fr));
}

.card {
  padding-bottom: 24px;
}
