.container {
  width: 100%;
}

.progress {
  margin: 40px 0;
}

.upper {
  padding-top: 33px;
  background: var(--sq-background-gradient);
}

.indexers {
  padding-top: 50px;
}

.content {
  padding-bottom: 80px;
}
