.container {
  background: var(--sq-primary-blue);
  padding: 0px 50px;
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 32px 0px;
}

.bottom {
  display: flex;
  height: 64px;
  align-items: flex-start;
  text-align: left;
}

.iconsContainer {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.iconButton {
  background: white;
  margin-right: 32px;
  padding: 16px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 15px;
  }
  .iconsContainer {
    justify-content: flex-start;
  }

  .iconButton {
    margin-right: 24px;
  }
}

.container :is(span, p) {
  color: white;
}

.image {
  align-self: center;
  width: 35px;
  margin: -5px;
}
