.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--sq-primary-blue);
}

.bannerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1440px;
  width: 100%;
  color: white;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
  padding-left: 48px;
  height: 90px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0px;
  height: 100%;
  font-family: 'Inter';
}

.title {
  font-size: 20px;
  font-family: inherit;
}

.date {
  font-size: 14px;
  font-family: inherit;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 24px;
  padding-right: 48px;
  height: 90px;
}

/* @media screen and (max-width: var(--tabletWidth)) { */
@media screen and (max-width: 980px) {
  .bannerContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    row-gap: 20px;
  }

  .left {
    padding: 0;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }

  .right {
    padding: 0;
    padding-bottom: 24px;
    height: 100%;
  }

  .text {
    text-align: center;
  }

  .icon {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .text {
    padding-bottom: 0px;
  }

  .right {
    /* flex-direction: column; */
    justify-content: center;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
