.account {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page {
  min-height: 90vh;
}

.tab {
  margin-top: 24px;

  :global {
    .ant-tabs-tab.ant-tabs-tab.ant-tabs-tab {
      padding: 0;
      line-height: 22px;
      margin-bottom: 8px;

      &-btn {
        font-family: var(--sq-font-family);
        color: var(--sq-gray600);

        &:hover {
          color: var(--sq-blue600)

        }
      }

      &-active {
        .ant-tabs-tab-btn.ant-tabs-tab-btn.ant-tabs-tab-btn   {
          color: var(--sq-blue600)
        }
      }
    }

    .ant-tabs-ink-bar {
      background: var(--sq-blue600);
    }
  }
}

.totalRewardsCard{
  margin-right: 24px;
  min-height: 426px;
  min-width: 304px;
}

@media (max-width: 768px) {
  .dashboard{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .totalRewardsCard{
    // TODO: change the subqlCard
    width: 100% !important;
    margin-right: 0px;
    margin-bottom: 24px;
  }
}
