.container {
  display: flex;
  flex-direction: row;
  margin: 32px 0px;
}

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 32px;
}

.upper {
  /*border-bottom: 1px solid var(--weak);*/
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.lower {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}

.image {
  width: 172px;
  height: 172px;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: white;
}

.name {
  font-size: 25px;
  line-height: 37.5px;
  font-weight: 700;
  text-align: right;
  align-self: flex-start;
}

.owner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ownerIcon {
  font-size: 20px;
}

.action {
  display: flex;
  flex-direction: column;
}

.edit {
  margin: 10px 0;
}

.vertBar {
  height: 100%;
  width: 1px;
  background-color: var(--weak);
  margin: 0 25px;
}
