.container {
  display: flex;
  flex-direction: row;
  /*margin-top: 32px;*/
}

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 32px;
}

.upper {
  display: flex;
  flex-direction: column;
}

.lower {
  /*padding-top: 15px;*/
  display: flex;
  flex-direction: row;
}

.image {
  height: 178px;
  width: 178px;
  border: 1px solid var(--weak);
  border-radius: 8px;
  background-color: white;
}

.titleVersion {
  display: flex;
  align-items: center;
}

.name {
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
  text-align: right;
  align-self: flex-start;
  padding-right: 16px;
}

.owner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.owner p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.ownerIcon {
  font-size: 20px;
}

.action {
  display: flex;
  flex-direction: column;
}

.edit {
  margin: 10px 0;
}

.vertBar {
  height: 50%;
  width: 1px;
  background-color: var(--weak);
  margin: 18px 24px;
}
