.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Header {
  flex: 0 1 auto;
}

.Content {
  display: flex;
  flex: 1 1 auto;
}

.content-width {
  width: 100%;
  padding: 2rem;
}
