.Main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Header {
  flex: 0 1 auto;
}

.Content {
  display: flex;
  flex: 1 1 auto;
}

.content-width {
  width: 100%;
  padding: 2rem;
}

.switchNetwork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switchNetworkContent {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switchNetworkTitle {
  margin: 2rem 0;
  font-size: 36px;
  font-weight: 600;
}
