:root {
  --gradient-from: #ff4581;
  --gradient-to: #4388dd;
  --sq-gradient: linear-gradient(293.04deg, var(--gradient-from) 4.09%, var(--gradient-to) 70.16%);
  --sq-background-gradient: linear-gradient(293.04deg, rgba(255, 69, 129, 0.1) 4.09%, rgba(67, 136, 221, 0.1) 70.16%);
  --primary: #007bff;
  --primary-secondary: #6c757d;
  --error: #f1585b;
  --error-opac: #f1585b1f;
  --success: #65cd45;
  --success-opac: #65cd451f;
  --warning: #ffc107;
  --info: #17a2b8;
  --weak: #ccc;
  --weak-opac: #cccccc1f;

  /*New colors*/
  --gray200: #f4f6f8;
  --gray300: #dfe3e8;
  --gray400: #c4cdd5;
  --gray500: #919eab;
  --gray700: #454f58;
  --gray900: #1a202c;

  --icon-size: 178px;
}

@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');
html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  background-color: #fff;
  /*background: var(--sq-background-gradient);*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input[type='file'] {
  display: none;
}

input,
textarea {
  border: 1px solid #c2c9d1;
  border-radius: 8px;
  box-sizing: border-box;
  line-height: 20px;
  font-family: Open Sans;
  font-size: 14px;
  color: var(--gary900);
  padding: 8px 10px;
  margin-bottom: 1rem;
  width: 100%;
}

label {
  font-family: Futura;
  font-size: 16px;
  line-height: 24px;
}

a,
a:hover {
  text-decoration: none;
}

label,
.label {
  text-transform: capitalize;
  font-family: Futura;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray900);
}

textarea {
  resize: none;
  min-height: 116px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* For general container */
.fullWidth {
  width: 100%;
}

.flex {
  display: flex;
}

.col-flex {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

/* For text */
.errorText {
  color: var(--error);
}

.grayText {
  color: var(--gray500);
}

.blackText {
  color: var(--gray700);
}

/* For latest design system */
.textBtn {
  background: white;
  color: var(--gradient-to);
}

.errBtn {
  background: var(--error);
}

.errTextBtn {
  background: white;
  color: var(--error);
}

.neutralBtn {
  color: var(--gray700);
  border: 1px solid var(--gray500);
  background: white;
}

.pointer {
  cursor: pointer;
}

/* For each page container & content */
.contentContainer {
  background: white;
  padding: 2rem;
  min-height: 400px;
}

.content {
  margin: 1rem 0;
}

/* For antD UI - for future lib usage*/
/* For antD table header */
.ant-table-title {
  margin-bottom: 1rem;
  padding: 0;
}
