:root {
  --gradient-from: #ff4581;
  --gradient-to: #4388dd;
  --sq-gradient: linear-gradient(293.04deg, var(--gradient-from) 4.09%, var(--gradient-to) 70.16%);
  --primary: #007bff;
  --primary-secondary: #6c757d;
  --error: #dc3545;
  --success: #28a745;
  --warning: #ffc107;
  --info: #17a2b8;
  --weak: #ccc;
  --weak-opac: #cccccc1f;
}

@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  background-color: #fff;
  background: linear-gradient(293.04deg, rgba(255, 69, 129, 0.1) 4.09%, rgba(67, 136, 221, 0.1) 70.16%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input[type='file'] {
  display: none;
}
