.form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 80px 80px 80px;
}

.deployment {
  font-family: Futura;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray900);
  margin-top: 8px;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 64px 80px 40px 80px;
}

.name {
  font-family: Futura;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;

  color: var(--gray900);
  padding-left: 22px;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 845px;
  flex: 1;
}
