.form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 46px 30px;
}

.deployment {
  font-family: Futura;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray900);
  padding: 24px 0;
}

.upper {
  padding-top: 80px;
  background: var(--sq-background-gradient);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 64px;
}

.name {
  font-family: Futura;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;

  color: var(--gray900);
  padding-left: 22px;
}

.details {
  display: flex;
  flex-direction: row;
}

.fields {
  border-right: 1px solid var(--gray300);
  margin-right: 24px;
  padding-right: 24px;
  flex-grow: 100;
}
