.form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 46px 0;
}

.deployment {
  font-family: Futura;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray900);
  padding: 24px 0;
}

.upper {
  padding-top: 80px;
  background: var(--sq-background-gradient);
}

.imageContainer {
  border: 1px solid var(--weak);
  border-radius: 8px;
  overflow: hidden;
  height: var(--icon-size);
  width: var(--icon-size);
}

.image {
  height: var(--icon-size);
  width: var(--icon-size);
}

.imagePlaceholder {
  height: var(--icon-size);
  width: var(--icon-size);
  position: relative;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageOverlay:hover {
  background: rgba(0, 0, 0, 0.4);
}

.imageOverlay :is(i, p) {
  font-family: Assistant;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */
  letter-spacing: 0.3px;
  color: var(--gray300);
}

.imageOverlay i {
  padding-right: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 64px;
}

.name {
  font-family: Futura;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;

  color: var(--gray900);
  padding-left: 22px;
}

.details {
  display: flex;
  flex-direction: row;
}

.fields {
  border-right: 1px solid var(--gray300);
  margin-right: 24px;
  padding-right: 24px;
}
