.explorer {
  padding: 72px 80px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  align-items: center;
}

.headerTitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

.line {
  background: var(--sq-gradient);
  margin-top: 24px;
  width: 48px;
  height: 10px;
}
