.explorer {
  padding: 72px 80px;
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 24px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 72px;
}

.headerTitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

.line {
  background: var(--sq-gradient);
  margin-top: 24px;
  width: 48px;
  height: 10px;
}

@media screen and (max-width: 4825px) {
  .list {
    width: 4412px;
  }
}
@media screen and (max-width: 4565px) {
  .list {
    width: 4151px;
  }
}
@media screen and (max-width: 4305px) {
  .list {
    width: 3890px;
  }
}
@media screen and (max-width: 4045px) {
  .list {
    width: 3629px;
  }
}
@media screen and (max-width: 3785px) {
  .list {
    width: 3368px;
  }
}
@media screen and (max-width: 3525px) {
  .list {
    width: 3107px;
  }
}
@media screen and (max-width: 3265px) {
  .list {
    width: 2846px;
  }
}
@media screen and (max-width: 3005px) {
  .list {
    width: 2585px;
  }
}
@media screen and (max-width: 2745px) {
  .list {
    width: 2324px;
  }
}
@media screen and (max-width: 2485px) {
  .list {
    width: 2063px;
  }
}
@media screen and (max-width: 2225px) {
  .list {
    width: 1802px;
  }
}
@media screen and (max-width: 1965px) {
  .list {
    width: 1541px;
  }
}
@media screen and (max-width: 1705px) {
  .list {
    width: 1280px;
  }
}
