.list {
  display: flex;
  flex-wrap: wrap;
  /* note: the outter set padding is 2rem. and width is 100% */
  /* not robust */
  margin-right: -2rem;
}

.header {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

.line {
  background: var(--sq-gradient);
  margin-top: 24px;
  width: 48px;
  height: 10px;
}

.card {
  padding-bottom: 24px;
}
