.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(227px, 1fr));
}

.header {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

.line {
  background: var(--sq-gradient);
  margin-top: 24px;
  width: 48px;
  height: 10px;
}

.card {
  padding-bottom: 24px;
}
