.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards {
  margin: 1.5rem 0;
  display: flex;
}

.balances {
  display: flex;
  column-gap: 1rem;
}

/* ClaimFlexPlan */
.btnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}
.billingAction {
  font-size: larger;
  height: fit-content;
  padding: 1rem;
}

/* Terminate Plan */
.remainDeposit {
  margin: 2rem 0;
}

.terminateError {
  margin-bottom: 1rem;
}

.actionList {
  display: flex;
  align-items: center;
}

.sqCard {
  min-width: 210px;
}
.sqCard p {
  width: 100%;
  font-weight: 600;
  color: var(--sq-gray700);
}

.myTab > div {
  background-color: #fff;
}
.myTab a {
  font-size: 18px;
  line-height: 28px;
  margin-right: 32px;
  padding-bottom: 1rem;
  text-decoration: none;
  color: var(--gray700);
  background: white;
  min-width: 6rem;
  margin: 0 0.6rem;
  text-align: center;
  width: 100%;
  border-image: var(--sq-gradient) 1;
}
.myTab .ant-space-align-center {
  display: block;
  width: 100%;
}
.myTab p {
  text-align: center;
  color: #919eab;
}
