.networkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.networkTitle {
  font-family: Futura;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--gray900);
  padding-bottom: 8px;
}

.networkSubtitle {
  font-family: Assistant;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */
  letter-spacing: 0.3px;
  padding-bottom: 8px;
}
