name: PR - Build
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - kepler

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      VITE_SENTRY_DSN: ${{ vars.DEV_SENTRY_DSN }}
      NODE_OPTIONS: --max-old-space-size=32768
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.1
        with:
          node-version: 18

      - run: yarn

      - name: Build
        # Disable CI flag so linter warnings aren't treaded as errors
        run: CI=false yarn build:dev
