name: Kepler-Prod
on:
  workflow_dispatch:
    branches:
      - kepler

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_PROD }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_PROD }}
      VITE_SENTRY_DSN: ${{ vars.DEV_SENTRY_DSN }}
      NODE_OPTIONS: --max-old-space-size=32768      
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.1
        with:
          node-version: 18

      - run: yarn

      - name: Build
        # Disable CI flag so linter warnings aren't treaded as errors
        run: CI=false yarn build

      - name: Deploy Prod
        uses: reggionick/s3-deploy@v3
        with:
          folder: dist
          bucket: kepler.subquery.network
          bucket-region: ap-southeast-2
          invalidation: /*
          dist-id: ${{ secrets.CLOUDFRONT_ID_KEPLER_PROD }}
          delete-removed: false
          no-cache: true
          private: true
