.btnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.submitBtn {
  background: var(--sq-blue600) !important;
  color: white !important;
  min-width: 30%;
}
