.container {
  background: white;
  padding: 1rem;
  overflow: auto;
}

.indexerListHeader {
  margin: 1rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.indexerSearch {
  width: 360px;
}
