.container {
  background: white;
  padding: 1rem;
  overflow: auto;
}

.indexerListHeader {
  margin: 1rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 768px) {
    display: block;
  }
}

.indexerSearch {
  width: 360px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.tipsBanner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
  background-color: #4388dd26;
  background-image: url('/static/check.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}
